.container
	.modal-header
		%h1= @title
	= simple_form_for @formName, class: 'clearfix' do |f|
		.modal-body
			- @questions.each do |id,sentenceText|
				- isRequired = @questionRequirement[id]
				- isMultiple = false
				- if sentenceText.include? '||' # Question is a multiple choice question
					- isMultiple = true
					- choices = sentenceText.split(' || ')
					- sentenceText = choices.shift
					= f.input :"#{id}", :label=> "#{sentenceText}", :collection => choices, required: isRequired
				- elsif @questionType[id] == 'text'
					= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired, :as => "text"
				- else
					= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired
		.modal-footer
			= f.submit 'Next', class: 'btn btn-primary'
