.container
	.modal-header
		%h1= @title
	= simple_form_for @formName, class: 'clearfix' do |f|
		.modal-body
			- @questions.each do |id,sentenceText|
				- isRequired = @questionRequirement[id]
				- if @questionType == 'Text'
					= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired, :as => "text"
				- else
					= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired
		.modal-footer
			= f.submit 'Next', class: 'btn btn-primary'