.container
	.modal-header
		%h1= @sentence
	= simple_form_for @form, class: 'clearfix' do |f|
		.modal-body
			- @questions.each do |id,sentenceText|
				= f.input :"#{id}", :label=> "#{sentenceText}"
		.modal-footer
			= f.submit 'Next', class: 'btn btn-primary'