.container
	.modal-header
		%h1 Background Questions
	= simple_form_for :backgroundQuestions, class: 'clearfix' do |f|
		.modal-body
			- @questions.each do |id,sentenceText|
				- isRequired = @questionRequirement[id]
				= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired
		.modal-footer
			= f.submit 'Next', class: 'btn btn-primary'