.modal-header
	%h3 Thinking of the sentence you just clicked on, please answer the following questions
= simple_form_for :responses, class: 'clearfix' do |f|
	.modal-body
		- @questions.each do |id,sentenceText|
			- isRequired = @questionRequirement[id]
			- isMultiple = false
			- logger.debug "Parsing sentence, length: " + @questions.count.to_s
			- if sentenceText.include? '||' # Question is a multiple choice question
				- isMultiple = true
				- choices = sentenceText.split(' || ')
				- sentenceText = choices.shift
				= f.input :"#{id}", :label=> "#{sentenceText}", :collection => choices, required: isRequired
			- else
				= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired
	.modal-footer
		= f.submit 'Submit', class: 'btn btn-primary'
