.modal-header
	%h1 New Response
= simple_form_for :responses, class: 'clearfix' do |f|
	.modal-body
		- @questions.each do |id,sentenceText|
			- isRequired = @questionRequirement[id]
			= f.input :"#{id}", :label=> "#{sentenceText}", required: isRequired
	.modal-footer
		= f.submit 'Next', class: 'btn btn-primary'
